@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');
body{
  font-family: "Syne", "Montserrat";
}
.active {
  color: red;
}

@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }

  .testimonials-swiper {
    padding: 20px 0;
  }
  
  .testimonials-swiper .swiper-slide {
    height: auto;
  }
  
  /* Hide default Swiper navigation buttons */
  .testimonials-swiper .swiper-button-next::after,
  .testimonials-swiper .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-next,
            .swiper-button-prev {
              display: none;
            }
            
            .swiper-button-next-custom.swiper-button-disabled,
            .swiper-button-prev-custom.swiper-button-disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }